html {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

#doc-header {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    position: sticky;
    top: 0;
    background-color: gray;
    padding: 0.5rem;
    padding-left: 1rem;
    /* width: 100%; */
}

/* .doc-header {
    grid-area: header;
}

#nav-header {
    grid-area: nav-header;
} */

.navbar {
    /* grid-area: navbar; */
    display: flex;
    flex-direction: column;
    background-color: aqua;
    margin: 0;
    height: 100vh;
    position: fixed;
}

/* #Header_1 {
    grid-area: section-1;
}

#Header_2 {
    grid-area: section-2;
}

#Header_3 {
    grid-area: section-3;
}

#Header_4 {
    grid-area: section-4;
}

#Header_5 {
    grid-area: section-5;
} */

header {
    font-size: 1.45rem;
    font-weight: 400;
    letter-spacing: 0.075em;
}

.main-container {
    display: flex;
    flex-direction: column;
}

#main-doc {
    /* display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        "nav-header header"
        "navbar main"
        "navbar section-1"
        "navbar section-2"
        "navbar section-3"
        "navbar section-4"
        "navbar section-5"; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-around; */
    border: 2px solid aquamarine;
    margin: 0 1rem;
}

#navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    left: 0px;
    border: 2px solid magenta;
    /* padding: 1rem 0.5rem 1rem 1rem;
    margin: 0.5rem; */
}

@media (max-width: 600px) {
    body {
        font-size: 1.2rem;
        margin: 1rem 2rem;
    }
}
